<%# <img src="https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW92aWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""> %>
<div class="banner-img">
  <div class="my-navbar">
    <h2>MY MOVIE <br> PLAYLISTS</h2>
  </div>
  <%# <%= image_tag "cinema.jpg", class:'banner-img' %>
</div>



<div class="main-container">
  <section class="bg-light pink lighten-5">
    <h2 class="h2">ALL YOUR LISTS</h2>
    <div class="cards">
      <% @lists.each do |list| %>
          <%# <a class="" href="/"> %>
              <%= link_to list_path(list) do %>
                <div class="card">
                  <h3><%= list.name %></h3>
                </div>
                <% end %>
          <%# </a> %>
      <% end %>
    </div>
  </section>
  <div class="test">
    <section class="bg-dark">
      <div class="create-container">
        <h2 class="h2">CREATE A NEW LIST</h2>
        <%= simple_form_for @list do |f|  %>
          <div class="col s6">
            <div class="row">
              <div class="new-form">
                <div class="input-field">
                  <%# <i class="material-icons prefix">fiber_new</i> %>
                    <%# <%= f.input :name, input_html: { class: 'autocomplete', id: 'autocomplete-input' }, label: false %>
                    <%= f.input_field :name, class: 'autocomplete', id: 'autocomplete-input', label: false %>
                  <%# <input type="text" id="autocomplete-input" class="autocomplete"> %>
                  <label for="autocomplete-input">List name</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                  <i class="material-icons right">add</i>
                  Create
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <section class="bg-light pink lighten-5 desc">
      <h2 class="h2">
        Click on your list <br> to see all the films and details
      </h2>
    <%= image_tag "movie_crew", class: "desc-img"%>
    </section>
  </div>
  <footer class="page-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About this website</h5>
          <p class="grey-text text-lighten-4">This website was created by myself, the purpose of the site is to train my skills in <br> Rails / HTML / CSS / JavaScript.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Infos</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Created & Designed by Fabien
      <%# <a class="grey-text text-lighten-4 right" href="#!">Terms of Use</a> %>
      </div>
    </div>
  </footer>
</div>
